<h3>今天的单词表</h3>

<form class="form-inline">
  <div class="form-group">
    <label for="newWord">New words</label>
    <input type="text" id="newWord" class="form-control" placeholder="put new words here"/>
  </div>
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </button>
</form>
<hr/>
<form class="form-horizontal">
  <h4>NEW</h4>
  <dl ng-repeat="word in content.first">
    <dt><span class="glyphicon glyphicon-bookmark"></span> {{word.word}}</dt>
    <dd ng-repeat="phrase in content.phrases[word.word]" class="form-group">
      <label class="control-label col-sm-2">{{phrase}}</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-save-file"></span>
            </button>
          </span>
        </div>
      </div>
    </dd>
    <dd class="form-group">
      <label class="control-label col-sm-2">New Phrase</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control"/>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
    </dd>
  </dl>
  <hr/>
  <h4>REVISE</h4>
  <dl ng-repeat="word in content.revise">
    <dt><span class="glyphicon glyphicon-bookmark"></span> {{word.word}}</dt>
    <dd ng-repeat="phrase in content.phrases[word.word]" class="form-group">
      <label class="control-label col-sm-2">{{phrase}}</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-save-file"></span>
            </button>
          </span>
        </div>
      </div>
    </dd>
    <dd class="form-group">
      <label class="control-label col-sm-2">New Phrase</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control"/>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
    </dd>
  </dl>
</form>

