<div>
    <h2>{{other}}<br />{{date}}</h2>
</div>
<div class="title">RETROSPECTIVE</div>
<ul><li>{{retrospect}}</li></ul>
<div class="title">STAT</div>
<ol class="schedule_stat">
    <li><i class="fa fa-calendar"></i>&nbsp;总工作量&nbsp;{{totalDuration()}}h</li>
    <li><i class="fa fa-line-chart"></i>&nbsp;总完成度&nbsp;{{totalCompletion()}}%</li>
    <li ng-repeat="(type, duration) in distribution()">
        <span class="type"><i class="fa fa-pie-chart"></i>&nbsp;{{type}}</span>
        <span class="duration">{{duration}}h</span>
    </li>
</ol>
<div class="title">LIST</div>
<div class="schedule_show">
    <div ng-repeat="event in events" class="event">
        <ol>
            <li><span class="label">TYPE:</span>&nbsp;{{event.type}}</li>
            <li><span class="label">TIME:</span>&nbsp;{{event.time}}/{{event.duration}}</li>
            <li><span class="label">AFAR:</span>&nbsp;{{event.affair}}</li>
            <li><span class="label">OBJV:</span>&nbsp;{{event.objective}}</li>
            <li><span class="label">CKPT:</span>&nbsp;{{event.checkpoint}}</li>
            <li><span class="label">CPLT:</span>&nbsp;{{event.completion}}%</li>
            <li><span class="label">RTSP:</span>&nbsp;{{event.retrospect}}</li>
        </ol>
    </div>
</div>
