<div>
    <h2>{{user}}<br />{{date}}</h2>
</div>
<div class="pool">
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>PRIORITY</th>
                <th>TYPE</th>
                <th>AFFAIR</th>
                <th>OBJECTIVE</th>
                <th>CHECKPOINTS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="8"><button ng-click="addEventInPool()"><i class="fa fa-plus-square"></i></button></td>
            </tr>
            <!--<tr ng-repeat="event in pool" class="event_in_schedule">-->
                <!--<td><input type="text" ng-model="event.priority" class="event_priority" placeholder="PRIORITY" ng-change="setChanged(true)"></td>-->
                <!--<td><input type="text" ng-model="event.type" class="event_type" placeholder="TYPE" ng-change="setChanged(true)"></td>-->
                <!--<td><input type="text" ng-model="event.affair" class="event_affair" placeholder="AFFAIR" ng-change="setChanged(true)"></td>-->
                <!--<td><input type="text" ng-model="event.objective" class="event_objective" placeholder="OBJECTIVE" ng-change="setChanged(true)"></td>-->
                <!--<td><input type="text" ng-model="event.checkpoint" class="event_checkpoint" placeholder="CHECKPOINT" ng-change="setChanged(true)"></td>-->
                <!--<td><button ng-click="removeEventInPool($index)" class="forget"><i class="fa fa-archive"></i></button></td>-->
                <!--<td><button ng-click="moveOutOfPool($index)" class="lay"><i class="fa fa-arrow-circle-down"></i></button></td>-->
            <!--</tr>-->
            <tr ng-repeat="event in pool" class="event_in_schedule">
                <td><span contenteditable="true" ng-model="event.priority" class="input"></span></td>
                <td><span contenteditable="true" ng-model="event.type" class="input"></span></td>
                <td><span contenteditable="true" ng-model="event.affair" class="input"></span></td>
                <td><span contenteditable="true" ng-model="event.objective" class="input"></span></td>
                <td><span contenteditable="true" ng-model="event.checkpoint" class="input"></span></td>
                <td><button ng-click="removeEventInPool($index)" class="forget"><i class="fa fa-archive"></i></button></td>
                <td><button ng-click="moveOutOfPool($index)" class="lay"><i class="fa fa-arrow-circle-down"></i></button></td>
            </tr>
        </tbody>
    </table>
    <button ng-click="save()" class="save"><i class="fa fa-floppy-o fa-lg"></i></button>
</div>
<div>
    <span class="title">今天过得怎么样？</span>
</div>
<div class="day_retrospect">
    <textarea cols="160" rows="3" ng-model="retrospect" ng-change="setChanged(true)" placeholder="HAVE A NICE DAY!"></textarea>
</div>
<div class="title">今天的时间表</div>
<ol class="schedule_stat">
    <li><i class="fa fa-calendar"></i>&nbsp;总工作量&nbsp;{{totalDuration()}}h</li>
    <li><i class="fa fa-line-chart"></i>&nbsp;总完成度&nbsp;{{totalCompletion()}}%</li>
    <li ng-repeat="(type, duration) in distribution()">
        <span class="type"><i class="fa fa-pie-chart"></i>&nbsp;{{type}}</span>
        <span class="duration">{{duration}}h</span>
    </li>
</ol>
<div class="schedule">
    <form>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>TYPE</th>
                    <th>TIME</th>
                    <th>AFFAIR</th>
                    <th>OBJECTIVE</th>
                    <th>CHECKPOINTS</th>
                    <th>COMPLETION</th>
                    <th>RETROSPECT</th>
                    <th><button ng-click="insertEvent(-1)" class="new_event"><i class="fa fa-plus-square"></i></button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events" ng-if="!event.deleted" class="event_in_schedule">
                    <td><div contenteditable="true" ng-model="event.type" class="input"></div></td>
                    <td><div contenteditable="true" ng-model="event.time" class="input"></div>/<div contenteditable="true" ng-model="event.duration" class="input"></div></td>
                    <td><div contenteditable="true" ng-model="event.affair" class="input"></div></td>
                    <td><div contenteditable="true" ng-model="event.objective" class="input"></div></td>
                    <td><div contenteditable="true" ng-model="event.checkpoint" class="input"></div></td>
                    <td><div contenteditable="true" ng-model="event.completion" class="input"></div>%</td>
                    <td><div contenteditable="true" ng-model="event.retrospect" class="input"></div></td>
                    <td><button ng-click="insertEvent($index)" class="new_event"><i class="fa fa-plus-square"></i></button></td>
                    <td><button ng-click="removeEvent($index)" class="forget"><i class="fa fa-archive"></i></button></td>
                    <td><button ng-click="layToPool($index)" class="lay"><i class="fa fa-arrow-circle-up"></i></button></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" ng-click="save()" class="save"><i class="fa fa-floppy-o fa-lg"></i></button>
    </form>
</div>
<img src="{{share_qrcode}}"/>
<div class="navi"><a ng-href="#/plan/daily"><i class="fa fa-leaf"></i>&nbsp;TO DAILY</a></div>
<div class="navi"><a ng-href="#/plan/weekly"><i class="fa fa-leaf"></i>&nbsp;TO WEEKLY</a></div>
